body {
    background-color: rgb(39, 39, 39);
}
  
h1 {
    color: white;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    font-size: 80px;
}
.grid {
    display: flex;
    justify-content: center;
}

.grid-full {
    display: inline-grid;
    grid-template-columns:auto auto auto auto auto;
}

.grid-item {
    border: 2px solid rgb(151, 148, 148);
    background-color: rgb(39, 39, 39);
    height: 60px;
    width: 60px;
    margin: 3px;
    text-align: center;
    color: white;
}